/* 
i{
    background-color: black;
} */
footer{
    background-color: chocolate;
}
.titre{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.commentaires{
    display:flex;
    flex-flow:column wrap;
    align-content: center;
    align-items:center;
}
footer p{
    text-align: right;
}
main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
li{
    list-style:none;
}
li img{
    width: 25vw;
}
.parrain{
    width: 25vw !important;
}